@import 'bootstrap/dist/css/bootstrap.min.css';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Nunito Sans";
  line-height: 1.5;
  font-weight: 400;
 
}

.btn{
 border:0px;
}

body {
  font-family: "Nunito Sans";
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #00AA00;
}
h1{
  color: rgba(255, 255, 255, 0.87);
font-family: Nunito Sans;
font-size: 28px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.20000000298023224px;
 
text-underline-position: from-font;
text-decoration-skip-ink: none;

}

 

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}
 
.card-img, .card-img-bottom, .card-img-top{
  border-radius: 50%;
  width: 100%;
  border: 2px solid red;
  padding: 20px;

}

td img{
  border-radius: 50%;
  width: 100%;
  border: 2px solid red;
}
